services:

  zookeeper:
    hostname: zookeeper
    image: bitnami/zookeeper:latest
    restart: always
    expose:
      - "2181"
    ports:
      - "2181:2181"
    environment:
      ALLOW_ANONYMOUS_LOGIN: yes

  kafka:
    hostname: kafka
    image: bitnami/kafka:latest
    restart: always
    env_file:
      - kafka.env
    depends_on:
      - zookeeper
    expose:
      - "9092"
      - "8082"
      - "8083"
    ports:
      - '9092:9092'
      - '8082:8082'
      - '8083:8083'

  producer:
    build:
      context: producer
    environment:
      KAFKA_URL: kafka:9092
    expose:
      - "8080"
    ports:
      - "8080:8080"
    depends_on:
      - kafka
    restart: always

  consumer:
    build:
      context: consumer
    environment:
      KAFKA_URL: kafka:9092
      KAFKA_GROUP_ID: logger-group
    depends_on:
      - kafka
    restart: always

  simulator:
    build:
      context: simulator
    environment:
      PRODUCER_URL: producer:8080
    depends_on:
      - kafka
    restart: always
